<h1>Chateo</h1>

<% if current_user %>
  <%= link_to "Start chatting", channels_path %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>